<html>
<body>
<% if(err!="") { %> <p><%=err%></p> <% } %>
<form action="/do_login" method="post">
    <fieldset>
        <legend>Please sign in</legend>
        <p>User: <input type="text" name="user"/></p>

        <p>Pass: <input type="text" name="password"/></p>
        <button>Submit</button>
    </fieldset>
</form>
</body>
</html>
